.input-div {
    flex: 1;
    background-color: #242a2e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
    user-select: none;
    border: 1px solid rgba(26, 25, 25, 0.827);
    bottom: 0;
}

.input-div>.text-div {
    background-color: transparent;
    flex: 10;
    border: none;
    outline: none;
    background-color: #33393d92;
    border-radius: 5px;
}

@media(max-width:768px) {
    .input-div {
        gap: 0.5rem;
        padding: 0 0.5rem;
    }

    .text-div {
        border-radius: 3px;
    }
}