.action-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    user-select: none;
}

.input-div {
    display: flex;
    gap: 1rem
}

.link {
    margin: auto;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    cursor: pointer;
    width: fit-content;
    background: transparent;
}


@media (max-width:768px) {
    .action-div {
        gap: 1.2rem;
        padding: 1rem 0rem;

    }

    .link {
        font-size: 0.8rem;
    }
}